ul {
    width: 1020px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    // display: flex;
    // flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

li {
    width: 183px;
    margin: 10px;
    padding: 15px;
    background-color: #13293b;
    border-radius: 10px;
    text-align: left;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
}

li:hover {
    background-color: #213f57;
}

li img {
    width: 150px;
    margin-bottom: 10px;
}

.btn-selected {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: black;
    margin-bottom: 10px;
}